.pics
{
	position:fixed;
	top: 30%;
	width:480px;
}


#prevPic
		{
			left:0%;			
			height:350px;
			background-color : red;
		}
#nextPic
		{
			left: 66.6666%;		
			height:350px;
			background-color : red;
		}
#mainPic
		{
			top: 27%;
			left: 33.3333333%;			
			height:350px;
			background-color : black;
		}
#previous
{
	left: 30%;
	top:50%;
	width:10px;
	height:10px;
	background-color:gray;
}
#next
{
	left: 69.999%;
	top:50%;
	width:10px;
	height:10px;
	background-color:gray;
}



